.cartelNotFound {
  margin-top: 5vw;
  width: 67vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #010118;
  color: white;
  border-radius: 2vw;
  flex-direction: column;
}

.grupoItineraries {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cardItinerary {
  width: 73vw;
  background-color: #fdffed;
  border-radius: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 18px;
}

.cardItinerary > p {
  margin: 0;
}

.hastag {
  display: flex;
      flex-wrap: wrap;
}

.hastag > p {
  margin-left: 10px;
  margin-right: 10px;
}

.contenedorArriba {
  margin-left: 30px;
}

.contenedorAbajo {
  display: flex;
}

.contenedorPicBanner {
  width: 40vw;
}

.contenedorPrecioYMapa {
  display: flex;
  justify-content: space-around;
}

.contenedorPrecioActividades {
  width: 84%;
}

.picBanner {
    width: 18vw;
    height: 26vw;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 1vw;
    margin-right: 1vw;
}

.nombreFotoUsuario {
  display: flex;
  align-items: center;
}

.nombreFotoUsuario > h3 {
  margin-left: 14px;
}

.fotoUser {
  border-radius: 50%;
  width: 5vw;
}

.fa-money-bill-wave {
  font-size: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.fa-clock {
  font-size: 30px;
  margin-right: 16px;
}
.fa-comments {
  font-size: 30px;
  margin-right: 16px;
}

.fa-coins {
  font-size: 30px;
  margin-right: 16px;
}

.fa-heart {
  font-size: 30px;
  margin-right: 16px;
}

.contenedorActividades {
  margin-bottom: 3vw;
  margin-top: 1vw;
}

.btnActividades {
  background: #032e50;
  color: white;
  width: 16vw;
  border-radius: 3px;
  border: none;
  height: 4vw;
  font-family: "poppins";
  font-weight: 700;
      margin-top: 26px;
}

.tituloItinerary {
  font-family: "poppins";
  font-weight: 700;
}

.hastag > p {
  color: #032e50;
  font-size: 20px;
  font-weight: bold;
}

.contenedorActividades > p {
  font-size: 20px;
  display: flex;
  font-family: "poppins";
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
}

.btn_heart {
  background: #f33838;
  width: 6vw;
  border-radius: 10px;
  padding: 6px;
  color: white;
  cursor: pointer;
  border: 1px solid #f33838;
  padding-left: 3px;
}

.btn_heart:hover {
  background-color: white;
  color: #f33838;
  border: 1px solid #f33838;
}

.nombreUser {
  font-family: "poppins";
  margin-bottom: 0;
}

.iconoVerificado {
  width: 3vw;
  margin-left: 5px;
}

.rec-carousel-wrapper {
  top: 0;
}
.rec-arrow-right {
  position: relative;
  right: 15px;
}

.contenedorParaActividades {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedorOffered {
  display: flex;
  align-items: center;
}
.contenedorOffered > p{

  margin: 0;

}
.contenedorOffered > .lenguage {
  margin-left: 5px;
  font-family: "poppins";
}



.offeredText {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.offeredText > p {
  font-family: "poppins";
  font-size: 20px;
  margin-bottom: 0;
}

.contenedorCoins {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  align-items: center;
}

.contenedorCoins > span > img {
  width: 3vw;
}

.contenedorCoins > p {
  font-family: "poppins";
  font-size: 20px;
  margin: 0;
}

.commentNameUser{
  display: flex;
  flex-wrap: wrap;
}

.commentLastName{
     margin-left: 5px;
}

.commentNameUser> h2{
    font-size: 1.5rem;
    font-family: "poppins";
    font-weight: bold;

}



.contenedorActividadesItinerary{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.contenedorActividades > .cuadro{
  width: 17vw;
  height: 20vw;
}

.contenedorActividades > h1 {
  text-align: center;
   font-size: 1.5rem;
}
.activityCuadro{
      width: 20vw;
    height: 19vw;
    background-position: center;
    background-size: cover;
    margin: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    	position: relative;
	overflow: hidden;
      border-radius: 13px;
      box-shadow: 3px 10px 20px 0px #0000004d;
}

@keyframes hover-img {
	from {transform: scale(1);filter:blur(0px);}
	to {transform: scale(1);filter:blur(0px);}
}
@keyframes fade-in {
	from {opacity:0;}
	to {opacity:1;}
}

.activityCuadro:hover  >.textActivity{
	cursor: pointer;	
	animation: hover-img 0.5s forwards;
}

.activityCuadro:hover  {
	cursor: pointer;	
	animation: hover-img 0.5s forwards;
}

.textActivity{
  position: absolute;
  z-index: 2;
  opacity: 0;
  color: #fff;
  background: #0d518870;
  text-align: center;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

.textActivity > h1{
      font-size: 1.5rem;
}

.activityCuadro:hover > .textActivity{
  animation: fade-in 1s forwards;
	opacity: 1;
} 

.contenedorComentarios{
  background-color: rgb(240, 240, 240);
  width: 92%;
  padding: 33px;
  box-shadow: 3px 10px 20px 0px #0000004d;
  margin-top: 3vw;
}

.contenedorComentarioUnico{
  display: flex;
  margin-top: 9px;
  margin-bottom: 23px;
  align-items: center;
      flex-wrap: wrap;
}

.contenedorComentarioUnico > .fa-ellipsis-h {
  margin-left: 10px;
}
.textoContenedor{
      background: white;
    border-radius: 1vw;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
     width: 66%;
}

.textoContenedor > h2 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "poppins";
    padding: 2px;
   
}

.textoContenedor > h4{
      font-size: 1.2rem;
       font-family: "poppins";
}

.contenedorComentarioUnico > .fotoUser {
  position: relative;
  bottom: 29px;
      width: 4vw;
    height: 4vw;
}

.contenedorInputFotoUser{
  display: flex;
  align-items: center;
}
.contenedorInputFotoUser > .fotoUserHeader {
    width: 3vw;
    height: 3vw;
}

.inputSendComment{
    height: 3vw;
    width: 45vw;
    border: none;
    border-radius: 3vw;
    padding: 18px;
    font-family: "poppins";
}
.btnEmoji{
      border: none;
    font-size: 2vw;
    position: relative;
    bottom: -15px;
    left: -1px;
}

.btnLikeHeart{
      border: none;
    background: #fdffed;
    height: 46px;
}
.popover{
  z-index: 0;
}
.btnOpciones{
        background: none;
    color: black;
    border: none;
    box-shadow: none;
        margin-left: 10px;
}

.btnOpciones:focus{

    background: none;
    color: black;
    border: none;
     box-shadow: none;
}
.popover-body{
  display: flex;
    flex-direction: column;
}
.btnOpcionED{
  border: none;
  background: white;
  margin-top: 4px;
  margin-bottom: 4px;
}

.btnOpcionED:hover{
  background: #F2F2F2;
  width: 100%;
}

.inputEdit{
    width: 100%;
    background: #f0f0f0;
    border: none;
    border-radius: 3vw;
    padding-left: 13px;
}
  
      .emoji-picker-react{
        position: absolute!important;
        right: 54vw;
        z-index: 2;
        height: 262px!important;
        width: 279px!important;
      margin-top: 0px !important;
    }

    .contenedorBtnSp{
      display: flex;
      justify-content:center;
      margin: 20px;
    }

    .contenedorBtnSp_SignUp{
          margin-right: 10px;
    }

    .contenedorBtnSp_SignIp{
        margin-left: 10px;
    }

  
@media (max-width: 1024px) {
  .btn_heart {
    width: 9vw;
  }

  .btnActividades {
    width: 21vw;
    height: 5vw;
  }
  .contenedorActividades > p > img {
    width: 5vw;
  }
}    

@media (max-width: 798px) {

  
  .emoji-picker-react{
  position: absolute!important;
    right: 41vw;
    z-index: 2;
    height: 262px!important;
    width: 279px!important;
    margin-top: 27px !important;
}

  
.activityCuadro{
      width: 32vw;
    height: 26vw;
}

  .inputSendComment{
        width: 47vw;
  }
  .contenedorInputFotoUser > .fotoUserHeader {
    width: 7vw;
    height: 7vw;
  }
    .fa-grin-squint{
    font-size: 31px;
    }
  .contenedorSendCommentForm{
    flex-direction: row;
    margin: 0;
  }
  .btnEmoji{
    font-size: 2vw;
      position: relative;
    position: relative;
      bottom: 0px;
      left: -3px;
      background: none;
  }

  .contenedorSendCommentForm > .btnFormRegister{
        width: 12vw;
    height: 5vw;
    margin: 0;
  }
  .fotoUser {
    width: 9vw;
  }

  .cardItinerary {
    width: 95vw;
  }
  .contenedorPicBanner {
    width: 81vw;
  }
  .picBanner {
    width: 21vw;
    height: 38vw;
  }
  .nombreFotoUsuario > h3 {
    font-size: 2rem;
    margin-left: 41px;
  }
  .iconoVerificado {
    width: 5vw;
    margin-right: 20px;
  }
  .btn_heart {
    width: 11vw;
  }
  .btnActividades {
    width: 24vw;
    height: 6vw;
  }
  .contenedorCoins > span > img {
    width: 4vw;
  }
}

@media (max-width: 620px) {

  .emoji-picker-react{
   position: absolute!important;
    right: 41vw;
    z-index: 2;
    height: 262px!important;
    width: 279px!important;
    margin-top: 27px !important;
}

  .contenedorComentarios {
  width: 102%;
  }

  .contenedorAbajo {
    flex-direction: column;
  }

  .contenedorHeroImg {
    margin-bottom: 0;
  }
  .picBanner {
    width: 33vw;
    height: 58vw;
  }

  .nombreFotoUsuario {
    margin-bottom: 5vw;
    margin-top: 5vw;
  }

  .nombreFotoUsuario > h3 {
    margin-left: 0;
    font-size: 1.5rem;
  }

  .fotoUser {
    width: 14vw;
  }
  .iconoVerificado {
    width: 7vw;
  }
  .btn_heart {
    width: 17vw;
  }
  .btnActividades {
    width: 58vw;
    height: 9vw;
  }

  .cartelNotFound {
    font-size: 1.5rem;
  }

  .contenedorCoins > span > img {
    width: 9vw;
  }
}
@media screen and  (max-width:600px)  and  (min-width:376px) {
  
  .emoji-picker-react{
    position: absolute!important;
    right: 16vw;
    z-index: 2;
    height: 262px!important;
    width: 279px!important;
    margin-top: 16px !important;
}


      .activityCuadro {
        width: 73vw;
        height: 47vw;
    }

    .contenedorComentarios{
      padding: 0;
    }
    .textoContenedor > h2 {
        font-size: 1rem;
    }
    .textoContenedor > h4 {
    font-size: 0.9rem;
    }
    .contenedorSendCommentForm > .btnFormRegister {
    width: 10vw;
    height: 7vw;
    margin-left: 9px;
    margin-top: 0;
}

  .contenedorSendCommentForm{
    margin-bottom: 3vw;
  }

  .fa-grin-squint {
    font-size: 24px;
}

.btnEmoji {
    bottom: 5px;
}
}

@media (max-width: 375px) {
        .activityCuadro {
        width: 73vw;
        height: 47vw;
    }

  .emoji-picker-react{
      position: absolute!important;
      right: 6px;
      z-index: 2;
    height: 232px!important;
    width: 252px!important;
    margin-top: 17px !important;
}


  .contenedorComentarios {
      width: 107%;
  }
  .contenedorSendCommentForm > .btnFormRegister{
        width: 12vw;
    height: 9vw;
  }
  .cardItinerary {
    padding: px;
  }

  .contenedorActividades > p {
    font-size: 16px;
  }

  .tituloItinerary {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .hastag > p {
    font-size: 16px;
    font-weight: bold;
  }
  .contenedorPicBanner {
    width: 88vw;
  }
  .picBanner {
    width: 76vw;
    height: 86vw;
  }
  .iconoVerificado {
    width: 9vw;
  }
  .btn_heart {
    width: 23vw;
  }
  .btnActividades {
    width: 59vw;
    height: 13vw;
  }
  .fotoUser {
    margin-left: 16px;
  }

  .nombreFotoUsuario > h3 {
    margin-left: 15px;
    margin-bottom: 0;
  }
  .contenedorActividades {
    margin-left: 20px;
  }
  .btnActividades {
    margin-left: 20px;
  }
  .contenedorCoins > span > img {
    width: 8vw;
  }
  .textoCiudad {
    font-size: 2rem;
  }
}
