* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
header {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.logo {
  width: 19vw;
}
.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-login {
  color: orange;
  border: 1px solid orange;
  border-radius: 21px;
  padding: 4px 31px;
  text-decoration: none;
}
.nav-link.active {
  color: #032e50 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #032e5091;
}

.fa-user {
  padding: 10px 7px;
}
#root {
  min-height: 100vh;
  flex: 1;
}
#video_hero {
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;

  z-index: -1000;
  overflow: hidden;
}

.contenido {
  color: white;
  margin: 13vw 2vw;
  font-family: "Poppins", sans-serif;
}
.contenido > h1 {
  font-size: 6rem;
  font-size: 6rem;
  font-weight: 700;
  text-shadow: 1px 1px black;
  color: #ffffff;
}

.contenido > h4 {
  text-shadow: 1px 1px #000000;
  color: rgb(0 98 204 / 89%);
  font-weight: 400;
}

.btn-hero {
  color: white;
  background: #032e50;
  display: flex;
  width: 19vw;
  margin-top: 25px;
  text-decoration: none;
  justify-content: center;
  padding: 10px;
  box-shadow: 7px 7px 1px #6f595b;
}

.contenido > a:hover {
  color: white;
  text-decoration: none;
}

/* Contenido Home */

.SeccionFotos {
  display: flex;
  justify-content: space-evenly;
}

.contenedorImagenes {
  display: flex;
}

.imagenes {
  background-position: center;
  background-size: cover;
  width: 15vw;
  height: 24vw;
  box-shadow: 18px 8px 16px #0000005c;
}

.tittleCarrusel {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  position: relative;
  top: 47px;
  color: #032e50;
  text-shadow: 1px 1px black;
  font-size: 3rem;
}

.rec-carousel-wrapper {
  position: relative;
  top: 112px;
}

.one {
  position: relative;
  left: -44px;
}

.three {
  position: relative;
  right: -44px;
}

.contenedorTexto > h2 {
  font-family: "Poppins", sans-serif;
}

/* Carrusel */
.cuadro {
  width: 30vw;
  height: 20vw;
  background-position: center;
  background-size: cover;
  margin: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.textImg {
  background: #0d518870;
  width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.textImg > h2 {
  text-shadow: 1px 1px #000000de;
  color: white;
  font-weight: 700;
}

.bloquePrincipal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.bloquePrincipal:active {
  outline: none;
  box-shadow: none;
}
.bloquePrincipal:focus {
  outline: none;
  box-shadow: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: gainsboro;

  padding: 10px;
  height: 49vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.fa-facebook {
  font-size: 2vw;
  color: wheat;
}

.fa-instagram {
  font-size: 2vw;
  color: wheat;
}

.fa-twitter {
  font-size: 2vw;
  color: wheat;
}
.nav_footer {
  display: flex;
  position: relative;
  top: 20vw;
}

.btn_footer {
  padding: 10px;
}

.btn_footer > h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: wheat;
}

.redes {
  position: relative;
  top: 20vw;
}

.redesSociales {
  display: flex;
  align-items: center;
  justify-content: center;
}

.redesSociales > li {
  list-style: none;
}
.redesSociales > li > a {
  text-decoration: none;
  padding: 10px;
  color: white;
}

.cities {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rec-arrow-left {
  position: relative;
  left: 16px;
}
.rec-arrow-right {
  position: relative;
  right: 16px;
}

.bSWeAW:hover:enabled,
.bSWeAW:focus:enabled {
  background-color: rgb(0 123 255);
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.fa-user {
  font-size: 34px;
}

.formulario_position {
  position: relative;
  top: 20vw;
}

.btn_send {
  margin-left: 13px;
  padding: 6px 32px;
  background: #032e50;
  border: none;
  font-weight: 700;
  color: white;
}

.contenedorForm {
  font-family: "Poppins", sans-serif;
  width: 33vw;
  border: none;
  padding: 6px;
  box-shadow: -4px -2px 20px #ffffff42;
}

.rec.rec-arrow {
  background: #032e507d;
  color: white;
}

.cetQhm {
  background: #032e50 !important;

  box-shadow: 0 0 1px 3px rgb(58 103 183 / 85%) !important;
}

.bSWeAW:hover:enabled,
.bSWeAW:focus:enabled {
  color: #fff;
  background-color: #032e50 !important;
  box-shadow: 0 0 2px 0 #333;
}

.ml-auto > a {
  color: gray;
  padding: 7px 0;
}

.citiesError {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.textCitiesError {
  font-family: "poppins";
}

@media (max-width: 1024px) {
  img {
    width: 44vw;
  }

  #video_hero {
    position: absolute;
    bottom: 100px;
    right: 0px;
    min-width: 100%;
    width: auto;
    height: 57vw;
    z-index: -1000;
    overflow: hidden;
  }

  .contenido > h1 {
    font-size: 3rem;
  }

  .contenido {
    margin: 5vw 6vw;
    display: flex;
    flex-direction: column;
  }
  .contenido > h4 {
    margin-top: 7vw;
  }

  .btn-hero {
    width: 37vw;
  }

  .contenido > button {
    margin-top: 24px;
  }

  .cuadro {
    width: 34vw;
    height: 30vw;
  }

  .rec-arrow-left {
    position: relative;
    left: 16px;
  }
  .rec-arrow-right {
    position: relative;
    right: 16px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: gainsboro;

    padding: 10px;
    height: 49vw;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .fa-facebook {
    font-size: 2vw;
    color: wheat;
  }

  .fa-instagram {
    font-size: 2vw;
    color: wheat;
  }

  .fa-twitter {
    font-size: 2vw;
    color: wheat;
  }
  .nav_footer {
    display: flex;
    position: relative;
    top: 20vw;
  }

  .redesSociales {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn_footer > h5 {
    font-size: 2vw;
  }
}
@media (max-width: 768px) {
  .logo {
    width: 36vw;
  }

  img {
    width: 44vw;
  }

  #video_hero {
    position: absolute;
    bottom: 100px;
    right: 0px;
    min-width: 100%;
    width: auto;
    height: 70vw;
    z-index: -1000;
    overflow: hidden;
  }

  .contenido > h1 {
    font-size: 3rem;
  }

  .contenido {
    margin: 15vw 4vw;
  }
  .contenido > h4 {
    margin-top: 1vw;
  }

  .btn-hero {
    width: 37vw;
  }

  .contenido > button {
    margin-top: 24px;
  }

  .navbar-collapse {
    align-items: center;
    position: absolute !important;
    background-color: #f8f9fa;
    top: 98px !important;
    width: 100vw !important;
    left: 0px;
  }
  .navbar-nav {
    align-items: flex-start;
    flex-direction: column-reverse !important;
  }

  .SeccionFotos {
    position: relative;
    top: 32px;
    flex-direction: column-reverse;
  }

  .contenedorImagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .one .two .three {
    position: relative;
    left: 0;
  }

  .cuadro {
    width: 36vw;
    height: 30vw;
  }

  main {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .tittleCarrusel {
    top: 13px;
    font-size: 2rem;
  }

  .rec-carousel-wrapper {
    position: relative;
    top: 36px;
  }
  .rec-arrow-left {
    position: relative;
    left: 16px;
  }
  .rec-arrow-right {
    position: relative;
    right: 16px;
  }

  .footer {
    padding: 9px;
    flex-direction: column;
    height: 59vw;
  }

  .redes {
    top: 0;
  }

  .nav_footer {
    flex-direction: column;
    top: 10vw;
  }

  .btn_footer > h5 {
    color: #032e50;
    font-size: 1.5rem;
    text-align: center;
  }

  .textImg > h2 {
    font-size: 1.5rem;
  }

  .fa-facebook {
    font-size: 5vw;
  }
  .fa-instagram {
    font-size: 5vw;
  }

  .fa-twitter {
    font-size: 5vw;
  }

  form {
    top: 0;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .contenedorForm {
    width: 62vw;
    text-align: center;
  }

  .btn_footer {
    padding: 3px;
  }
}

@media (max-width: 576px) {
  img {
    width: 44vw;
  }

  #video_hero {
    position: absolute;
    bottom: 100px;
    right: 0px;
    min-width: 100%;
    width: auto;
    height: 70vw;
    z-index: -1000;
    overflow: hidden;
  }

  .contenido > h1 {
    font-size: 2rem;
  }

  .contenido {
    margin: 24vw 6vw;
    display: flex;
    flex-direction: column;
  }
  .contenido > h4 {
    margin-top: 7vw;
  }

  .btn-hero {
    width: 68vw;
  }

  .contenido > button {
    margin-top: 24px;
  }

  .navbar-collapse {
    align-items: center;
    position: absolute !important;
    background-color: #f8f9fa;
    top: 56px !important;
    width: 100vw !important;
    left: 0px;
  }
  .navbar-nav {
    align-items: flex-start;
    flex-direction: column-reverse !important;
  }

  /* Carrusel */

  main {
    background-position: left;
    position: relative;
    top: -24px;
  }

  .cuadro {
    width: 71vw;
    height: 48vw;
    margin: 7px;
  }

  .tittleCarrusel {
    position: relative;
    top: 8px;
    font-size: 2rem;
  }
  .rec-carousel-wrapper {
    position: relative;
    top: 0px;
  }

  .textImg > h2 {
    font-size: 1.2rem;
    font-weight: 700;
    text-shadow: 1px 1px #000000de;
    color: white;
  }

  /* Footer */

  footer {
    background-position: bottom;
  }

  .footer {
    padding: 9px;
    flex-direction: column;
    height: 95vw;
  }
  .redes {
    top: 0;
  }

  .nav_footer {
    flex-direction: column;
    top: 0;
  }

  .btn_footer > h5 {
    color: #032e50;
    font-size: 1rem;
    text-align: center;
  }

  .btn_footer {
    padding: 3px;
  }

  .fa-facebook {
    font-size: 9vw;
  }
  .fa-instagram {
    font-size: 9vw;
  }

  .fa-twitter {
    font-size: 9vw;
  }

  form {
    top: 0;
    margin: 18px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .contenedorForm {
    width: 62vw;
  }
  .rec-arrow-left {
    position: relative;
    left: 8px;
  }
  .rec-arrow-right {
    position: relative;
    left: -5px;
  }
}
