* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
header {
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 27px;
}

nav > ul {
  display: flex;
  list-style: none;
}

nav > ul > li > a {
  text-decoration: none;
  padding: 10px;
  color: black;
}

.btn-login {
  color: orange;
  border: 1px solid orange;
  border-radius: 21px;
  padding: 4px 31px;
  text-decoration: none;
}

.fa-user {
  padding: 10px 7px;
}
#root {
  min-height: 100vh;
  flex: 1;
}
#video_hero {
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;

  z-index: -1000;
  overflow: hidden;
}

.contenido {
  margin: 19vw auto;
  color: white;
}

.cuadro {
  width: 30vw;
  height: 20vw;
  background-position: center;
  background-size: cover;
  margin: 20px;
}

.bloquePrincipal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.bloquePrincipal:active {
  outline: none;
  box-shadow: none;
}
.bloquePrincipal:focus {
  outline: none;
  box-shadow: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: gainsboro;
  font-family: "Poppins", sans-serif;
  padding: 10px;
}

.redesSociales {
  display: flex;
  align-items: center;
  justify-content: center;
}

.redesSociales > li {
  list-style: none;
}
.redesSociales > li > a {
  text-decoration: none;
  padding: 10px;
  color: black;
}

@media (max-width: 576px) {
  img {
    width: 44vw;
  }

  #video_hero {
    position: absolute;
    bottom: 100px;
    right: 0px;
    min-width: 100%;
    width: auto;
    height: 70vw;
    z-index: -1000;
    overflow: hidden;
  }

  .contenido {
    margin: 24vw 6vw;
  }
  .contenido > h4 {
    margin-top: 7vw;
  }

  .contenido > button {
    margin-top: 24px;
  }
}
